{% extends 'base_dashboard.html' %}

{% block title %}Lista de Empleados{% endblock %}

{% block content %}
    <h1 style="text-align: center; color: #2c3e50; margin-bottom: 20px;">Lista de Empleados</h1>

    <!-- Botón para agregar un nuevo empleado -->
    <div style="text-align: right; margin-bottom: 20px;">
        <a href="{% url 'agregar_empleado' %}" class="btn btn-primary">Agregar Empleado</a>
    </div>

    <div class="content">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                    <th>Cliente</th>
                    <th>Puesto</th>
                    <th>Salario</th>
                    <th>Fecha de Contratación</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for empleado in empleados %}
                <tr>
                    <td>{{ empleado.nombre }}</td>
                    <td>{{ empleado.correo }}</td>
                    <td>{{ empleado.telefono }}</td>
                    <td>{{ empleado.cliente.nombre }}</td>
                    <td>{{ empleado.puesto }}</td>
                    <td>${{ empleado.salario }}</td>
                    <td>{{ empleado.fecha_contratacion }}</td>
                    <td>
                        <a href="{% url 'editar_empleado' empleado.id %}" class="btn btn-warning">Editar</a>
                        <a href="{% url 'eliminar_empleado' empleado.id %}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
