{% extends 'base_dashboard.html' %}

{% block title %}Editar Cliente{% endblock %}

{% block content %}
    <h1>Editar Cliente</h1>
    <form method="POST">
        {% csrf_token %}
        <label>Nombre:</label>
        <input type="text" name="nombre" value="{{ cliente.nombre }}" required><br>
        <label>Contacto:</label>
        <input type="text" name="contacto" value="{{ cliente.contacto }}" required><br>
        <label>Dirección:</label>
        <input type="text" name="direccion" value="{{ cliente.direccion }}"><br>
        <label>Email:</label>
        <input type="email" name="email" value="{{ cliente.email }}"><br>
        <button type="submit">Guardar</button>
    </form>
{% endblock %}
